<%
  start_date = 3.day.ago.midnight
  pageviews = domain.visits.where('time_at >= ?', start_date).count
  unique_visitors = domain.visits.where('time_at >= ?', start_date).pluck(:ip).uniq.size
%>

<div class="column is-6">
  <div class="box">
    <div class="columns is-mobile">
      <div class="column is-narrow">
        <figure class="image is-48x48">
          <img class="is-rounded" src="<%= domain.icon %>">
        </figure>
      </div>
      <div class="column">
        <%= link_to domain.name, domain, class: "title is-4" %>
      </div>
    </div>
    <div class="is-flex">
      <div class="pr-4">
        <%= render(Visits.new(domain: domain, start_date: start_date, options: { show_line_only: true, width: "120px", height: "40px" })) %>
      </div>
      <div>
        <p><%= pageviews %> page views</p>
        <p><%= unique_visitors %> unique visitors</p>
      </div>
    </div>
  </div>
</div>
