<div class="columns is-centered">
  <div class="column is-half">
    <h1 class="title"><%= locals[:title] %></h1>
    <%= form_with(model: @domain) do |form| %>
      <div class="field">
        <label class="label">Domain url</label>
        <div class="control">
          <%= form.text_field :base_url, class: "input", placeholder: "Domain url" %>
        </div>
      </div>
      <div class="field">
        <label class="label">Icon</label>
        <div class="control">
          <%= form.text_field :icon, class: "input", placeholder: "Icon url" %>
        </div>
      </div>
      <% if @domain.errors.any? %>
        <div class="block">
          <ul>
            <% @domain.errors.each do |error| %>
              <li><span class="tag is-danger is-light"><%= error.full_message %></span></li>
            <% end %>
          </ul>
        </div>
        <% end %>
      <div class="control">
        <%= form.submit 'Submit', class: "button is-link" %>
      </div>
    <% end %>
  </div>
</div>