<div class="columns is-centered">
  <div class="column is-half">
    <h1 class="title"><%= locals[:title] %></h1>
    <%= form_with(model: @domain) do |f| %>
      <div class="field">
        <label class="label">Domain url</label>
        <div class="control">
          <%= f.text_field :base_url, class: "input", placeholder: "Domain url" %>
        </div>
      </div>
      <div class="field">
        <label class="label">Icon</label>
        <div class="control">
          <%= f.text_field :icon, class: "input", placeholder: "Icon url" %>
        </div>
      </div>

      <%= render "users/shared/errors", locals: { errors: @domain.errors.full_messages } %>

      <div class="actions is-flex is-justify-content-end">
        <%= f.submit 'Submit', class: "button is-link" %>
      </div>
    <% end %>
  </div>
</div>
