<!DOCTYPE html>
<html>
  <head>
    <title>Faenz</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap" rel="stylesheet">

    <script defer data-domain="https://faenz.acmecorp.dev" src="https://faenz.acmecorp.dev/faenz.js" />
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="mt-3">
      <%= yield %>
    </div>
  </body>
</html>
